ul.custom-recent-posts {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: $sidebar-background;

    @media only screen and (min-width: 321px) {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 10px;
    }

    @media only screen and (min-width: 1131px) {
        background-color: transparent;
        flex-direction: column;
        padding: 4rem 10% 4rem 5%;
    }

    li {
        width: 100%;
        padding: 1.5em 10%;
        margin: 0;
        list-style: none;
        border-top: solid 1px #d9e3dc;
        color: #c0cac3;
        font-style: italic;

        @media only screen and (min-width: 321px) {
            width: 50%;
        }
        @media only screen and (min-width: 1131px) {
            width: 100%;
        }

        &:first-child {
            border-top: none;
        }

        a.post {
            display: block;
            margin-bottom: 0.25em;
            font-family: 'Julius Sans One', sans-serif;
            font-size: 1.2em;
            font-style: normal;
            text-transform: uppercase;
            color: $sidebar-link-primary;
        }
        a.author {
            color: $sidebar-link-secondary;
            font-size: 0.9em;
            font-style: normal;
        }

        a {
            &:hover {
                text-decoration: none;
                color: $sidebar-link-primary;
            }
        }
    }
}