footer.site-footer {
    .footer-top {
        width: auto;
        padding: 1em 6%;
        margin: 0;
        color: rgba(255, 255, 255, 0.4);
        background: #3e5d67;
        background-attachment: fixed, fixed, fixed, scroll;
        background-image: url(../image/contours.png), url(../image/gridlines.png), url(../image/noise.png), url(../image/koi.jpg);
        background-position: 0 0, -5px -25px, 0 0, 0 50%;
        background-repeat: repeat, repeat, repeat, no-repeat;
        background-size: auto, auto, auto, cover;
        font-size: 1rem;
        font-style: italic;
        text-align: center;

        @media not all, not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 1.5dppx) {
            background-image: url(../image/contours@2x.png), url(../image/gridlines.png), url(../image/noise.png), url(../image/koi.jpg);
            background-size: 50% auto, auto, auto, cover;
        }

        @media only screen and (min-width: 321px) {
            font-size: 1.4rem;
        }

        @media only screen and (min-width: 500px) {
            padding-bottom: 2em;
            padding-top: 2em;
        }

        @media only screen and (min-width: 1131px) {
            padding-bottom: 3em;
            padding-top: 3em;
            box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3);
            font-size: 2rem;
        }

        > * {
            max-width: 1130px;
            margin: 0 auto;
        }

        a {
            color: rgba(255, 255, 255, 0.7);
            font-style: normal;
        }

        p {
            margin: 0;
        }
    }

    .footer-bottom {
        clear: both;
        padding: 3em 10%;
        color: #fff;
        background: #134347;
        text-align: center; 

        @media only screen and (min-width: 501px) {
            padding: 3em 0;
        }

        a {
            display: inline-block;
            overflow: hidden;
            width: 40px;
            height: 40px;
            padding: 40px 0 0 0;
            margin: 0 0.5em;
            position: relative;
            color: rgba(255, 255, 255, 0.5);
            -webkit-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
            -moz-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
            transition: color 0.25s ease-out, box-shadow 0.25s ease-out;

            @media only screen and (min-width: 501px) {
                width: 52px;
                height: 52px;
                padding: 52px 0 0 0;
                margin: 0 1em;

                &:before {
                    font-size: 48px;
                }
            }

            @media only screen and (min-width: 1131px) {
                width: 76px;
                height: 76px;
                padding: 76px 0 0 0;
                margin: 0 3em;

                &:before {
                    font-size: 72px;
                }
            }
        }
    }
}