header#masthead {
    padding: 20px 0 0;
    background: #2d6360 50% 0 url(../image/huntington.jpg) no-repeat;
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(../image/contours.png), url(../image/noise.png), url(../image/gridlines.png), url(../image/huntington.jpg);
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    text-align: center;
    border-top: solid 10px rgba(19, 67, 71, 0.9);
    display: flex;
    flex-direction: column;
    position: relative;

    @media only screen and (min-width: 1131px) {
        flex-direction: row;
        padding: 0;
        align-items: stretch;
        height: 310px;
        box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3);

        &:before {
            display: block;
            content: " ";
            position: absolute;
            z-index: 3;
            top: -3px;
            left: 0;
            width: 100%;
            height: 7px;
            background: rgba(0, 39, 43, 0.2);
        }
        &:after {
            display: block;
            content: " ";
            position: absolute;
            z-index: 3;
            left: 0;
            width: 100%;
            bottom: 0;
            height: 4px;
            background: rgba(0, 39, 43, 0.075)
        }
    }
    @media not all, not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 1.5dppx) {
        background-image: url(../image/contours@2x.png), url(../image/noise.png), url(../image/gridlines.png), url(../image/huntington.jpg);
        background-size: 50% auto, auto, auto, cover;
    }

    .site-branding {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 501px) {
            flex-direction: row;
            justify-content: center;
            margin-top: 30px;
        }
        @media only screen and (min-width: 1131px) {
            width: 66%;
            margin-top: 0;
            align-items: center;
        }

        .logo img{
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
            opacity: 0.6;

            @media only screen and (min-width: 601px) {
                width: 70px;
                height: 70px;
            }
            @media only screen and (min-width: 1131px) {
                width: 125px;
                height: 125px;
                opacity: 1;
            }
        }
        .title {
            @media only screen and (min-width: 1131px) {
                text-align: left;
            }
            h1 {
                color: #ffffff;
                padding-top: 0;
                border-bottom: none;
                text-transform: uppercase;
                font-size: 1.4rem;

                @media only screen and (min-width: 321px) {
                    font-size: 1.75rem;
                }
                @media only screen and (min-width: 501px) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                @media only screen and (min-width: 601px) {
                    font-size: 2.2rem;
                }
                @media only screen and (min-width: 1131px) {
                    font-size: 3.2rem;
                    margin-top: 0.75rem;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
            
            h2 {
                display: block;
                padding-top: 5px;
                padding-bottom: 30px;
                border-top: none;
                color: rgba(255,255,255,0.6);
                font-size: 0.9rem;
                font-style: italic;
                font-family: 'Libre Baskerville', sans-serif;

                @media only screen and (min-width: 321px) {
                    font-size: 1.1rem;
                }
                @media only screen and (min-width: 1131px) {
                    font-size: 1.6rem;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }

    .view-all {
        width: 100%;
        height: 70px;

        @media only screen and (min-width: 1131px) {
            width: 34%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: rgba(33,84,95,0.3);
        }

        a {
            width: 100%;
            background: rgba(255,255,255,0.2);
            display: block;
            font-family: 'Julius Sans One', sans-serif;
            font-size: 1.2em;
            font-style: normal;
            text-transform: uppercase;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.65);
            font-size: 1rem;
            padding: 30px;

            @media only screen and (min-width: 1131px) {
                background: rgba(255,255,255,0.1);
                font-size: 1.2rem;
                max-width: 66%;
            }

            &:hover {
                background: rgba(255,255,255,0.3);
            }
            &:visited {
                color: rgba(255, 255, 255, 0.65);
            }
        }
    }
}