aside {
    ul.menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        background-color: rgba(121,162,136,.2);
        border-top: solid 1px #a0b9ad;
        overflow: hidden;
        background-color: rgba(138,188,159,0.5);
        background-image: url(../image/bamboo.png);
    
        @media only screen and (min-width: 321px) {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 10px;
        }
    
        @media only screen and (min-width: 1131px) {
            flex-direction: column;
            padding: 4rem 10% 4rem 5%;

            background-attachment: scroll, scroll, fixed;
            background-color: rgba(138,188,159,0.5);
            background-image: url(../image/contours-opaque.png), url(../image/gridlines-opaque.png), url(../image/bamboo.png);
            background-repeat: repeat, repeat, no-repeat;
            background-size: auto, auto, cover;
        }

        li {
            width: 100%;
            padding: 1.5em 10%;
            margin: 0;
            list-style: none;
            border-bottom: solid 1px #a0b9ad;
            color: #c0cac3;

            @media only screen and (min-width: 321px) {
                width: 50%;
            }
            @media only screen and (min-width: 1131px) {
                width: 100%;
            }

            a {
                display: block;
                margin-bottom: 0.25em;
                font-family: 'Julius Sans One', sans-serif;
                font-size: 1.2em;
                font-style: normal;
                text-transform: uppercase;
                color: #607476;
            }
        }
    }
}