@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

@font-face {
    font-family: verdemoderna;
    src: url(../fonts/verdemoderna.ttf);
}
@font-face {
    font-family: verdemoderna;
    src: url(../fonts/verdemoderna.woff);
}

* {
    border: 0;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    font-family: 'Libre Baskerville', sans-serif;
}

body, html {
    color: $primary;
    background: $body-background;
    font-size: 14px;

    @media only screen and (min-width: 1131px) {
        font-size: 16px;
    }
}

h1, h2, h3, h4, h5 {
    margin: 0;
    color: $secondary;
    font-weight: normal;
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: .75rem;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1.4rem;
}

@media only screen and (min-width: 1131px) {
    h3 {
        font-size: 1.8rem;
    }
}

a {
    color: $link-primary;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p {
    margin: 0.75em 0;
    line-height: 2;
}

//Font Icons
a[class^='zen-']::before {
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    overflow: visible;
    font-size: 36px;
    text-indent: 0;
  
    /* icomoon.io defaults */
    font-family: 'verdemoderna';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
a.zen-validate-html::before {content: "5";}
a.zen-validate-html:hover::before, footer a.zen-validate-html:focus::before {content: "%";}
a.zen-validate-css::before {content: "3";}
a.zen-validate-css:hover::before, footer a.zen-validate-css:focus::before {content: "#";}
a.zen-license::before {content: "c";}
a.zen-license:hover::before, footer a.zen-license:focus::before {content: "C";}
a.zen-accessibility::before {content: "a";}
a.zen-accessibility:hover::before, footer a.zen-accessibility:focus::before {content: "A";}
a.zen-github::before {content: "g";}
a.zen-github:hover::before, footer a.zen-github:focus::before {content: "G";}