.layout {
    display: flex;
    flex-direction: row;

    > article, > .article-wrapper {
        width: 100%;
        padding: 4rem 5% 4rem 10%;

        @media only screen and (min-width: 1131px) {
            width: 66%;
        }
    }
    > aside, > .sidebar {
        display: none;
        width: 34%;
        background-color: rgba(121, 162, 136, 0.2);

        @media only screen and (min-width: 1131px) {
            display: block;
        }

        ul.menu {
            display: flex;
            flex-direction: column;
            background-color: transparent;
            background-image: none;
        
            @media only screen and (min-width: 1131px) {
                flex-direction: column;
                padding: 4rem 10% 4rem 5%;
    
                background-color: transparent;
                background-image: none;
            }
        }
    }

    &.l-middle {
        background-attachment: scroll, scroll, fixed;
        background-color: rgba(138,188,159,0.5);
        background-image: url(../image/contours-opaque.png), url(../image/gridlines-opaque.png), url(../image/bamboo.png);
        background-repeat: repeat, repeat, no-repeat;
        background-size: auto, auto, cover;
    }
}