$primary: #325050;
$secondary: #2e484c;

$link-primary: #0d8ba1;

$body-background: #ffffff;

$sidebar-background: rgba(121,162,136,.2);
$sidebar-link-primary: #607476;
$sidebar-link-secondary: #616857;
$sidebar-link-hover: #49968e;